*{
  box-sizing: none;
  text-decoration: none;
}

body{
  display: flex;
  flex-direction: column;
    background-color: #1a1a1a;
    padding-left: 100px;
    padding-right: 100px;
}

.mid{
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
   body {padding-left: 10px ;
    padding-right: 10px;}
  }