.link{
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
    color:#ADB7BE;
    font-weight: 800;
    border-radius: 4px;
}

hover:link{
    color: white;
}

@media (max-width: 768px) {
    link {padding: 0;}
   }

   @media (max-width: 640px) {
    link {font-weight: 20px;}
   }